<div class="p-4 sm:ml-64 ">
   
   <div class="mb-5">
       <h1 class="text-lg font-medium">Dashboard</h1>
   </div>
   <div class="flex justify-start">
      <div class="bg-gray-200 sm:w-1/4 p-4 shadow-md rounded-lg dark:border-gray-700">
         <div class="justify-center">
             <h1 class="text-xl font-medium text-gray-900 dark:text-gray-500 mb-9">
                 TOTAL NUMBER OF REPORTS
             </h1>
             <div class="">
                 
                 <div class="justify-center">
                  <a href="/admin/view" class=" flex items-center justify-center w-16 h-16 bg-blue-500 rounded-full text-white text-2xl font-semibold hover:bg-blue-600 hover:text-blue-900 cursor-pointer">
                    <%= images.length %>
                 </a>
                 </div>
                 
             </div>
         </div>
     </div>
   </div>
</div>
